:root {
  --background-color: #1e1e1e;
  --text-color: #ffffff;
  --switch-bg-color: #191a25;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.theme-switcher {
  background-color: var(--switch-bg-color);
}
