.contactForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #132946;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Exo 2", sans-serif;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

.inputError {
  border-color: red;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  background-color: #132946;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover,
button:focus {
  background-color: #244e86;
  color: #ffffff;
}

button:disabled {
  background-color: #777;
}
